* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Righteous', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #c7cdd3;
}

.card {
    /* width: 120px;
    height: 120px; */
    position: relative;
    /* para o backface funcionar - o css entende agora que as cartas são são 3d */
    transform-style: preserve-3d;
    transition: .5s;
    -webkit-transform-style: preserve-3d;
    -webkit-transition: transform .5s;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    /* overflow: hidden; */
}

.card_back, .card_front {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.45);
    /* as cartas viradas (por transform) ficam escondidas */
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.flip {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
}

.card_front {
    background-color: #d1cece;
    /* fazer a carta ficar ao contrário - precisa de b*/
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
}

.card_back {
    background-color: #999999;
    font-size: 30px;
    border: 5px solid #939a9c;

}
.card_back:hover{
    background-color: #939a9c;
}

.card_back img {
    width: 60%;
}

.gradient-border {
    --borderWidth: 5px;
    border-radius: var(--borderWidth);
    position: relative;
}

.gradient-border .card_front img {
    animation: imgMove 1s linear alternate 1;
}

.gradient-border:after {
    content: '';
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(60deg, #90e09d, #49d673, #2bd650, #52c79a, #d9ec83, #13e41e);
    border-radius: calc(2 * var(--borderWidth));
    z-index: -1;
    animation: animatedgradient 4s ease alternate infinite;
    background-size: 300% 300%;
}

@keyframes imgMove {
    0% {
        transform: scale(1)
    }
    50% {
        transform: scale(.8)
    }
    100% {
        transform: scale(1)
    }
}

@keyframes animatedgradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

#gameBoard {
    /* background-color:tomato; */
    max-width: 700px;
    display: grid;
    grid-template: repeat(5, 1fr) / repeat(4, 1fr);
    /* gap: 20px; */
}

#yay {
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
}

#gameOver {
    /* ocupar a tela inteira e por cima dos outros elementos */
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    font-size: 40px;
    /* display vai ser alterado pelo script */
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 0;
}

#restartBtn {
    padding: 20px;
    font-size: 20px;
    background-color: yellow;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
}

/* HOVER */

.card:hover, #restartBtn:hover {
    cursor: pointer;
    /* transform: scale(1.1); */
}


/* RESPONSIVIDADE */

@media screen and (min-width: 0px) {
    #gameBoard {
        /* background-color: tomato; */
        /* width:100vw; */
        grid-template: repeat(5, 1fr) / repeat(4, 1fr);
        gap: 15px;
        justify-items: center;
        justify-content: center;
    }
    .card {
        width: 70px;
        height: 70px;
    }
    .card_front, .card_back {
        border-radius: 10px;
    }
    .greeting {
        text-align: center;
        font-size: 30px;
    }
    .btnStart {
        margin-right: 30% ;
        }
}

@media screen and (min-width: 375px) {
    #gameBoard {
        /* background-color: blue; */
        grid-template: repeat(5, 1fr) / repeat(4, 1fr);
    }
    .card_front, .card_back {
        border-radius: 5px;
    }
    .card {
        width: 70px;
        height: 90px;
    }
}

@media screen and (min-width: 768px) {
    #gameBoard {
        /* background-color: lightcoral; */
        max-width: 600px;
        grid-template: repeat(4, 1fr) / repeat(5, 1fr);
    }
    .card {
        width: 110px;
        height: 130px;
    }
    .btnStart {
        margin-right: 45% ;
        }
}

@media screen and (min-width: 1024px) {
    #gameBoard {
        /* background-color: lightgreen; */
        max-width: 80vw;
        grid-template: repeat(4, 1fr) / repeat(5, 1fr);
    }
    .card {
        width: 140px;
        height: 160px;
    }
    .btnStart{
        transform: scale(.9);
    }

}

@media screen and (min-width: 1440px) {
    #gameBoard {
        /* background-color: lightpink; */
        max-width: 80vw;
        grid-template: repeat(4, 1fr) / repeat(5, 1fr);
    }
    .card {
        width: 150px;
        height: 170px;
    }
    header {
        margin-bottom: 20px;
    }
}

@media screen and (min-height: 800px) {
    header {
        margin: 10px 0;
    }
}

@media screen and (min-height: 850px) {
    header {
        margin: 30px 0;
    }
}